*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: black;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(./Images/NG-en-20250623-TRIFECTA-perspective_d92c04dd-37b6-4850-82ff-e5196be945f1_small.jpg);
    background-size: cover;
    background-position: center;
}

.logo{
    width: 200px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

nav button{
    border: none;
    border-radius: 5px;
    outline: 0;
    padding:10px;
    background-color: #e50914;
}
nav button a{
    color: #fff;
    text-decoration: none;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    margin-top: 100px;
}

.header-content button{
    background-color: #e50914;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    /* overflow: hidden; */
}

.header-content button a{
    color: #fff;
    text-decoration: none;
}

#hr{
    width: 40%;
    height: 8px;
    background-color:gray;
    
}

.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
    max-width: 650px;
}

.header-content h4{
    font-weight: 400;
    margin-bottom: 20px;
}
.email-signup{
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;

}
.email-signup input{
    flex: 1;
    border: 0;
    outline: lightgreen;
    margin-left: 20px; 
}

.carousel-item{
    width: 600px;
}